@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color:white;
}

/* Navbar Styles */
.topnav{
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
}

.brand-title, .brand-title a{
  font-size: 1.5rem;
  margin:0.5rem;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;
  color:white;
  text-decoration: none;
}

.brand-title a:hover{
  background-color: #555;
}

.navbar-links ul{
  margin:0;
  padding:0;
  display: flex;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li a ,.navbar-links li span, .navbar-links li button{
  text-decoration: none;
  color:white;
  padding:1rem;
  display: block;
  cursor: pointer;
}


.navbar-links li:hover{
  background-color: #555;
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display:none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  width:30px;
  height:21px;
}

.toggle-button .bar{
  height:3px;
  width:100%;
  background-color: white;
  border-radius:10px;
}

/* Home Screen Styles */
.home_page{
  margin-left: 20px;
}

.list_in_det {
  background-color: #079e67;
  width: fit-content;
  padding: 15px;
  margin:20px 20px 20px 20px;
  border-radius: 5px;
}

.add_task_btn {
  margin:5px;
  cursor: pointer;
  background-color: black;
  border-style: solid;
  border-width: 1px;
  border-color:black;
  color:white;
}

.del_task_btn {
  background-color: red;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding:4px;
  cursor: pointer;
  margin:8px 8px 8px 0;
  position: relative;
  box-shadow: 2px 2px black;
}

.del_task_btn:active{
  left:2px;
  top:2px;
  box-shadow: none;
}

.new_todo_list{
  background-color: #333;
  margin: 20px 20px 20px 0;
  width:auto;
  padding:15px;
  color:white;
  border-radius: 5px;
}

.new_todo_list input{
  font-size: larger;
}

.tasklist-title{
  margin-right: 10px;
}

.tasklist-title-submit{
  margin-left: 10px;
  height:30px;
  width: 30px;
}

.input-submit{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add_task_btn:active, .add_task_btn:hover{
  background-color:#f2f2f2 ;
  color:black;
}

.new_todo_list h4{
  margin-left:0px;
}

.tasklist-title-submit{
  padding:2px;
  background-color: #079e67;
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
  position: relative;
  box-shadow: 2px 2px black;
  cursor: pointer;
}

.tasklist-title-submit:active{
  left:2px;
  top:2px;
  box-shadow: none;
}

.all_lists{
  display:flex;
  flex-wrap: wrap;
}


.list_in_det label {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: larger;
}

.login_page {
  width : 300px;
  margin-left : 25px;
  display: flex;
  flex-direction: column;
  label {
    margin-top: 25px;
  }
  button {
    margin-top : 20px;
    width : 50px;
  }
}

.signup_page {
  width : 300px;
  margin-left : 25px;
  display: flex;
  flex-direction: column;
  label {
    margin-top: 25px;
  }
  button {
    margin-top : 20px;
    width : 50px;
  }
}

.del_task_btn{
  border-radius: 3px;
}

@media only screen and (max-width:393px) {
  .toggle-button{
    display: flex;
  }
  .navbar-links{
    display: none;
    width:100%;
  }
  .topnav{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul{
    flex-direction: column;
    width:100%;
  }
  .navbar-links ul li{
    text-align: center;
  }
  .navbar-links li a, .navbar-links li span{
    padding:.5rem 1rem;
  }
  .navbar-links.active{
    display: flex;
  }
  .input-submit{
    width:95%;
    margin-left: auto;
    margin-right: auto;
  }
  .input-submit input{
    width:200px;
  }
  .new_todo_list h4{
    margin-left:10px;
  }
}